html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: $dark-blue;
  font-size: 1.6rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-blue;
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: $black;
  margin-bottom: 2rem;
  font-family: 'Poppins';
}

#main,
footer {
  width: calc(100% - 18rem);

}


section {
  display: block;
  overflow: auto;
  max-width: 144rem;
  width: calc(100% - 20rem);
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.button {
  display: inline-block;
  background-color: #e22104;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: $red;
  color: #fff;
}

.button-header {
  padding: 7px 26px;
  border-radius: 0;
}

.button-hero {
  align-self: center;
}

.button-shadow {
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);
}

button.button {
  border: 0;
  font-family: 'Josefin Sans';
}

.button-contactForm {
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.heading {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 0.929;
  font-family: 'Josefin Sans';
}

.small-heading {
  color: $black;
  margin-bottom: 2rem;
  display: block;
  font-weight: 400;

}

.title {
  font-size: 2.4rem;
  margin: 2rem 0;
  text-transform: capitalize;
}

.grid-3,
.grid-2 {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.flex-2 {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
}

.ml-2 {
  margin-left: 3rem;
}


.slick-slider {

  .slick-dots {
    z-index: 1;


    li {
      button {
        width: 2rem;
        height: 2rem;
        position: relative;
        border-radius: 100%;

        &:before {
          width: 1.5rem;
          height: 1.5rem;
          margin: auto;
          left: 0;
          right: 0;
          font-size: 1rem;
          top: -1px;
        }
      }

      &.slick-active {
        button {
          border: 2px solid $red;

          &:before {
            color: $red;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}